@keyframes load {
  0% {
    width: 0;
  }

  80% {
    width: 296px;
  }

  100% {
    width: 296px;
  }
}

@keyframes scroll {
  0% {
    width: 0;
  }

  100% {
    width: 116px;
  }
}

@keyframes move {
  0% {
    left: 0;
  }

  100% {
    left: 108px;
  }
}

.scroll__load {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 296px;
  height: 10px;
  background-color: #464646;
  animation-name: load;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
}

.scroll__blue {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 116px;
  height: 10px;
  background-color: #499ccc;
  animation-name: scroll;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.scroll__controller {
  position: absolute;
  z-index: 3;
  top: -4px;
  left: 108px;
  width: 7px;
  height: 7px;
  background-color: #aeaeae;
  border: 5px solid white;
  border-radius: 50%;
  cursor: pointer;
  animation-name: move;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
